logging:
  level:
    ROOT: INFO
    com.hust: DEBUG
    org.springframework.cache: TRACE
    org.redisson: INFO
    org.springframework.transaction: TRACE # Rất quan trọng
    org.springframework.orm.jpa: DEBUG     # Hoặc TRACE nếu cần chi tiết hơn về JPA
    org.hibernate.SQL: DEBUG             # Để xem các câu lệnh SQL
    org.hibernate.type.descriptor.sql: TRACE # Để xem các tham số được bind
    org.postgresql: INFO
  logback:
    rollingpolicy:
      max-file-size: 100MB
spring:
  threads:
    virtual:
      enabled: true
  jackson:
    date-format: dd-MM-yyyy
    time-zone: Asia/Ho_Chi_Minh
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
      fail-on-empty-beans: false
  liquibase:
    enabled: false
  messages:
    encoding: 'UTF-8'
    use-code-as-default-message: true
    basename: i18n/labels
    cache-duration: 60
  cloud:
    consul:
      host: localhost # Address of the Consul agent
      port: 8500      # Port of the Consul agent (default is 8500)
      discovery:
        register: true # Enable service discovery with Consul
        instance-id: ${spring.application.name} # Generate a unique instance ID
        health-check-path: /actuator/health # Path for health checks (requires Spring Boot Actuator)
        health-check-interval: 30s
        prefer-ip-address: true # Register service with its IP address instead of hostname (optional)
        tags:
          - env:${spring.profiles.active}
        metadata:
          zone: ${spring.profiles.active}
      config:
        enabled: false # Enable Spring Cloud Consul Config
        prefixes: config # Default prefix for configuration keys in Consul (default is /config)
        default-context: application # Default context for configuration (often 'application')
        profile-separator: ',' # Separator used to combine application name and profile in Consul keys
        format: YAML # Format of the configuration files in Consul (can be YAML or PROPERTIES, default is PROPERTIES)
        watch:
          enabled: true # Enable watching for configuration changes in Consul for dynamic updates
  lifecycle:
    timeout-per-shutdown-phase: 30s
security:
  cache:
    url-patterns: '/i18n/*,/content/*,/app/*'
    max-age: 86400 # Image cache max-age in second, duration: 86400 (1 day)
  # CORS is only enabled by default with the "dev" profile, so BrowserSync can access the API
  cors:
    allowed-origins: '*' # http://localhost:8780
    allowed-methods: 'GET,POST,OPTIONS'
    allowed-headers: '*'
    exposed-headers: 'Authorization,Link,X-Total-Count,X-Action-Message,X-Action-Params,X-CSRF-TOKEN'
    allow-credentials: true
    max-age: 1800
  authentication:
    cookie:
      domain-name:
      enable-ssl: false
      http-only: true
      path: '/'
      same-site: 'None'
    public-url-patterns:
      - "/actuator/**"
      - "/api/auth-service/public/**"
      - "/api/auth-service/auth/**"
      - "/api/auth-service/client/**"
    signature:
      gateway-shared-secret: "X;=Lcu>6ib6dyzCfAwEqc{--k%)WA,"

cache:
  config-type: "redis" # redis/redisson/hazelcast
  redis:
    mode: "standalone" # standalone, sentinel
    standalone:
      host: "localhost"
      port: 6379
      password: "123"
    sentinel:
      port: 26379
      password:
      master: masterredis
      nodes:
        - localhost
        # - 10.0.0.17
        # - 10.0.0.18
    lettuce-pool:
      shutdown-timeout: 200 #milliseconds
      command-timeout: 200 #milliseconds
      min-idle: 1
      max-idle: 20
      max-wait-millis: 200 #milliseconds
      max-total: 20
    cache-duration: 1440 # thời gian lưu cache (đơn vị phút)
  time-to-lives: # time to live in seconds
    default: -1
    token: 3600 # 1 hour
    remember-me-token: 7200 # 2 hours
    refresh-token: 86400 # 1 day
    otp: 300 # 90 seconds
    otp-verify: 3600 # lưu id xác thực otp trong 1 giờ
    temp-file: 3600 #1 hour
    login-failed: 86400 # 1 day, lưu số lần đăng nhập lỗi để hiện captcha
    captcha: 300 # 5 phút
    password-verify: 300 # 5 phút,
    dashboard: 180 # 3 phút
management:
  server:
    port: 9091
  health:
    circuitbreakers:
      enabled: true # Include circuit breaker status in the health endpoint
  endpoints:
    web:
      exposure:
        include: "*" # Expose all actuator endpoints over HTTP (use '*' with caution in production)
  endpoint:
    health:
      show-details: always # Always show full details in the /actuator/health endpoint
    gateway:
      enabled: true
    discoveryclient:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true # Enable histogram metrics for HTTP server requests
  observations:
    key-values:
      application: ${spring.application.name} # Add application name as a default tag for observations/metrics
  tracing:
    enabled: false
    sampling:
      probability: 1.0 # Sample 100% of traces (useful for dev, adjust for production)
app:
  gateway:
    routes: # List of routes to be configured dynamically via Java config
      - id: auth-service # Unique identifier for the route
        path: /api/auth-service/**   # Path predicate to match incoming requests
        uri: lb://auth-service # Target service URI (using load balancer 'lb' scheme)
        strip-prefix: 2           # Number of path segments to strip before forwarding (optional, defaults to 0 if omitted)
        circuitBreakerEnabled: true # Enable CB for this route
        circuitBreakerName: productServiceCircuitBreaker # Optional: specific CB name
        tokenRelayEnabled: true # Enable token relay for this route
      - id: req-producer-service
        path: /api/req-producer/**
        uri: lb://req-producer-service
        strip-prefix: 2
        circuitBreakerEnabled: true
        circuitBreakerName: productServiceCircuitBreaker
        tokenRelayEnabled: true
      - id: cms-service
        path: /api/cms-service/**
        uri: lb://cms-service
        strip-prefix: 2
        circuitBreakerEnabled: true
        circuitBreakerName: productServiceCircuitBreaker
        tokenRelayEnabled: true
client:
  verify-token: 'http://auth-service/auth/verify'

config:
  logstash:
    host: localhost
    port: 5000